.item-checkbox{
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}

.item-checkbox>input{
    width: 15px;
    height: 15px;
}

.list-item-content{
    width: calc(100% - 32px);
    height: 100%;
    color: #212121;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    list-style: none;
    font-family: "OpenSans";
    font-size: 13px;
    height: 32px;
    line-height: 32px;
}